*{margin: 0;}

.title-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}
.title-image {
  width: 100%; 
  height: auto; 
}
.title {
  color: white;
  font-size: 5em;
  text-align: center;
  display: flex;
}

.recipe-info {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;}

  .title-image {
    width: 100%;
    height: auto;}

    .Text {
      font-size: 1.5em;
      margin: 30px;
      justify-content: center;
      display: flex;}

      .list {
        list-style: none;
        gap: 10px;
      }

    .instruction {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 100%;
    }

    .list2 {
      list-style: none;
    }